<mat-toolbar color='accent'>
    <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <button [routerLink]="['/login']" class=" button login" aria-label="Example icon-button with heart icon">
      Login
    </button>
    <button [routerLink]="['/register']" class="button register" aria-label="Example icon-button with share icon">
      Register
    </button>
  </mat-toolbar>
  