<div class="wrapper" *ngIf="!submitFlag">
	<div class="container">
		<div class="instructions">
			<h3>instructions</h3>
		</div>
		<div class="questions">
			<ng-container *ngIf="questions">
				<h1>On Going Quiz {{ questions[0]?.quiz.title }}</h1>
			</ng-container>
			<mat-card *ngFor="let q of questions; let i = index">
				<mat-card-content>
					<p>
						<b>Q {{ i + 1 }}.</b>
						<span [innerHTML]="q.content"> </span>
					</p>
					<mat-divider></mat-divider>

					<div class="row">
						<div class="col1">
							<input
								type="radio"
								[name]="'' + i"
								[value]="q.option1"
                                [(ngModel)]="q.givenAnswer"
							/>{{ q.option1 }}
						</div>
						<div class="col1">
							<input
								type="radio"
								[name]="'' + i"
								[value]="q.option2"
                                [(ngModel)]="q.givenAnswer"
							/>{{ q.option2 }}
						</div>
					</div>
					<div class="row">
						<div class="col1">
							<input
								type="radio"
								[name]="'' + i"
								[value]="q.option3"
                                [(ngModel)]="q.givenAnswer"
							/>{{ q.option3 }}
						</div>
						<div class="col1">
							<input
								type="radio"
								[name]="'' + i"
								[value]="q.option4"
                                [(ngModel)]="q.givenAnswer"
							/>{{ q.option4 }}
						</div>
					</div>
				</mat-card-content>
				<mat-divider></mat-divider>
			</mat-card>

            <div class="submit">
                <button mat-raised-button color="primary" class="submit-btn" (click)="submit($event)">Submit</button>
            </div>
		</div>
		<div class="progress">
			<mat-card>
				<mat-card-header>
					<mat-card-title>Progress</mat-card-title>
					<mat-card-subtitle>Quiz will automatically submitted when timer reaches 0</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content>
					<mat-spinner mode="determinate" [value]="(timer/(this.questions.length*2*60))*100"></mat-spinner>

				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>


<div class="wrapper" *ngIf="submitFlag">
    <div class="row">
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Quiz Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>Marks Got : {{score}}</h1>
                    <h1>Correct Answers : {{correct}}</h1>
                    <h1>Attempted Questions : {{attempted}}</h1>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">Print</button>
                    <button mat-raised-button color="accent" [routerLink]="'/user/0'">Home</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
