<mat-card>
	<h3>Your Profile Details</h3>
	<mat-card-content>
		profile details
		<div class="wrapper">
			<div class="container">
				<div class="container profile">
					<img src="assets/pd.png" alt="" class="profileimage">
					<h1>User</h1>
				</div>
				<div class="row">
					<table >
						<tr>
							<td>Username</td>
							<td>usergmail.com</td>
						</tr>
						<tr>
							<td>UserID</td>
							<td>87FGH</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td>98765432</td>
						</tr>
						<tr>
							<td>Status</td>
							<td>ACTIVE</td>
						</tr>

					</table>

				</div>
			</div>
		</div>
		
	</mat-card-content>
	<mat-card-actions class="updatebtn">
			<button mat-raised-button>UPDATE</button>
			<button mat-raised-button color="accent">SHARE</button>
	</mat-card-actions>
</mat-card>