input{
    width:100%;
}

.active-toggle {
    margin: 0 15px;
}

.mat-form-field {
    margin: 10px;
    text-align: center;
    width: 100%;

}
.mat-form-field2 {
    margin: 20px 10px;
    text-align: center;
    width: 50%;

}
.forms{
    width:100%;
}
.submit {
    text-align: center;
    margin: 10px auto;;
}